<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ornek" preserve-order="true" thread-count="1">

    <test verbose="1" preserve-order="true" name="OrnekClass">
        <packages>
            <package name="*"/>
        </packages>
    </test>


</suite>
